<app-card>
  <h1>Offerte</h1>
  <form #quotationForm="ngForm" (ngSubmit)="submitQuotation()">
    <ul>
      <li>
        <label for="title">Titel:</label>
        <input type="text" id="title" class="pull right" required [(ngModel)]="quotation.title">
      </li>
      <li>
        <label for="date">Datum:</label>
        <input type="date" id="date" class="pull right" required [(ngModel)]="quotation.date">
      </li>
      <li>
        <label for="deliveryDate">Afleverdatum</label>
        <input type="date" id="deliveryDate" class="pull right" required [(ngModel)]="quotation.deliverydate">
      </li>
      <li>
        <label for="price"> Prijs:</label>
        <input type="text" id="price" class="pull right" required [(ngModel)]="quotation.price">
      </li>
      <li>
        <label for="description">Omschrijving:</label>
        <input type="text" id="description" class="pull right" required [(ngModel)]="quotation.description">
      </li>
      <li>
        <label for="delivery">Levering:</label>
        <input type="text" id="delivery" required [(ngModel)]="quotation.delivery">
      </li>
      <li>
        <label for="hours">Kosten per uur:</label>
        <input type="text" id="hours" required [(ngModel)]="quotation.delivery">
      </li>
      <li class="button-list">
        <button [disabled]="!quotationForm.valid">Opslaan</button>
        <button (click)="toContacts()">Cancel</button>
      </li>
    </ul>
  </form>
</app-card>

