<app-card>
  <h1>Offerte</h1>
  <form [formGroup]="quotationForm" (ngSubmit)="submitQuotation()">
    <ul>
      <li>
        <label for="title">Titel:</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="pull right">
      </li>
      <li>
        <label for="date">Datum:</label>
        <input
          type="date"
          id="date"
          formcontrolname="date"
          class="pull right">
      </li>
      <li>
        <label for="deliveryDate">Afleverdatum</label>
        <input
          type="date"
          id="deliveryDate"
          formcontrolname="deliverydate"
          class="pull right"
           >
      </li>
      <li>
        <label for="price"> Prijs:</label>
        <input
          type="text"
          id="price"
          class="pull right">
      </li>
      <li>
        <label for="description">Omschrijving:</label>
        <input type="text" id="description" class="pull right">
      </li>
      <li>
        <label for="delivery">Levering:</label>
        <input type="text" id="delivery" class="pull right">
      </li>
      <li>
        <label for="concerns">Betreft:</label>
        <input type="text" id="concerns" class="pull right">
      </li>
      <li>
        <label for="hours">Kosten per uur:</label>
        <input type="text" id="hours" class="pull right">
      </li>
      <li class="button-list">
        <button type="submit" [disabled]="!quotationForm.valid">Opslaan</button>
        <button (click)="toContacts()">Cancel</button>
      </li>
    </ul>
  </form>
</app-card>

