<app-card>
  <table>
    <thead>
    <tr>
      <th (click)="sortBy('costItem')">Soort <span *ngIf="this.sort == 'costItem'; then arrow"></span></th>
      <th (click)="sortBy('title')">Titel <span *ngIf="this.sort == 'title'; then arrow"></span></th>
      <th (click)="sortBy('description')">Beschrijving <span *ngIf="this.sort == 'description'; then arrow"></span></th>
      <th (click)="sortBy('date')">Datum <span *ngIf="this.sort == 'date'; then arrow"></span></th>
      <ng-template #arrow><span *ngIf="!this.desc; else down"><i class="fa fa-arrow-up"></i></span></ng-template>
      <ng-template #down><i class="fa fa-arrow-down"></i></ng-template>
    </tr>
    </thead>
    <tbody>
    <tr class="items"
      *ngFor="let expense of blankRows() | paginate: { itemsPerPage: 5, currentPage: page }" [expense]="expense"
        app-expense-list-item [routerLink]="expense.expenseID > 0 ? [expense.expenseID] : null">
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event" autoHide="true" class="pagination"></pagination-controls>
</app-card>
