<div class="banner"></div>
<div class="buttons">
  <div>
    <a routerLink="/contacten">
      <img src="assets/img/ico-projecten-of-facturen@2000x.png">
    </a>
    <a routerLink="/onkosten">
      <img src="assets/img/ico-onkosten@2000x.png">
    </a>
    <a routerLink="/overzichten">
      <img src="assets/img/ico-overzichten@2000x.png">
    </a>
  </div>
</div>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
<app-card><h1>Inkomsten</h1>
  <h1 class="pull right">1337</h1></app-card>
