<app-card>
  <div class="row">
    <div class="col-sm-2 form-group">
      <li>Naam: {{contact.name}} {{contact.infix}} {{contact.surname}}</li>
      <li>Adres: {{contact.street}} {{contact.houseNr}}</li>
      <li>Postcode: {{contact.zipCode}}</li>
      <li>Plaats: {{contact.place}}</li>
      <li>Telefoonnummer: {{contact.phoneNr}}</li>
      <li>E-mailadres: {{contact.email}}</li>
    </div>
  </div>
  <button class="btn btn-success" type="submit" (click)="onEditContact()">Gegevens Aanpassen</button>
</app-card>
