<app-card>

  <div class="titlebar">
    <button routerLink="/contacten"><i class="fa fa-arrow-left"></i></button>
    <h1>{{contact?.firstName}} {{contact?.infix}} {{contact?.surname}}</h1>
    <button [routerLink]="['factuur']">Factuur maken</button>
    <button>Offerte maken</button>
  </div>
</app-card>
<app-card>
  <h2>Naam:</h2>
  <li> {{contact?.firstName}} {{contact?.infix}} {{contact?.surname}}</li>
  <h2>Adres:</h2>
  <li> {{contact?.addresses[0].street}} {{contact?.addresses[0].streetNumber}}</li>
  <h2>Postcode: </h2>
  <li>{{contact?.addresses[0].zipcode}}</li>
  <h2>Plaats:</h2>
  <li>{{contact?.addresses[0].description}}</li>
  <h2>Telefoonnummer</h2>
  <li> {{contact?.phonenumbers[0].phonenumber}}</li>
  <h2>E-mailadres</h2>
  <li>{{ contact?.emails[0].email}}</li>
  <li class="button-list">
    <button><i class="fa fa-edit"></i> Wijzigen</button>
    <button class="btn danger" (click)="deleteContact()"><i class="fa fa-trash"></i> Verwijderen</button>
  </li>
</app-card>
