div.border {
  border: #d2d2d2 solid 1px;
  padding: 1em 1em;
  background: #d2d2d2;
  width: 250px;
  margin: auto;
  box-shadow:0 0 15px #333333;
}

div.form-group {
   margin: 1em;
}

label.banner {
  color: white;
  font-size: 100px;
  font-family: "Comic Sans MS";
  margin:6em;
}

button {
  margin: 0 0 0 30px;
  width:100px;
}
