form ul {
  padding: 0;
}

form ul li {
  display: flex;
  margin: 15px 25px;
}

form ul li label, form ul li input {
  flex: 1;
}

.button-list {
  justify-content: space-between;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
