<app-card>
  <h1 *ngIf="model.title; else new_expense">{{model.title}}</h1>
  <ng-template #new_expense><h1>Nieuwe kosten</h1></ng-template>
</app-card>
<app-card>
  <form #expenseForm="ngForm" (ngSubmit)="submitExpense(expenseForm.form)">
    <ul>
      <li>
        <label for="costItem">Kostenpost:</label>
        <input type="text" id="costItem" required [(ngModel)]="model.costItem" name="costItem">
      </li>
      <li>
        <label for="title">Titel:</label>
        <input type="text" id="title" required [(ngModel)]="model.title" name="title">
      </li>
      <li>
        <label for="description">Omschrijving:</label>
        <input type="text" id="description" required [(ngModel)]="model.description" name="description">
      </li>
      <li>
        <label for="date">Datum:</label>
        <input type="date" required [ngModel]="model.date | date:'yyyy-MM-dd'" (ngModelChange)="model.date = $event"
               [value]="model.date | date:'yyyy-MM-dd'" name="date" id="date">
      </li>
      <li>
        <label for="company">Bedrijf:</label>
        <input type="text" id="company" required [(ngModel)]="model.company" name="company">
      </li>
      <li>
        <label for="amount"> Prijs:</label>
        <input type="text" id="amount" required [(ngModel)]="model.amount" name="amount">
      </li>
      <li class="button-list">
        <button class="btn success" [disabled]="!expenseForm.valid"><i class="fa fa-save"></i> Opslaan</button>
        <button class="btn warning" (click)="onCancel()"><i class="fa fa-times"></i> Annuleer</button>
      </li>
    </ul>
  </form>
</app-card>
