input {
  margin: 1em;
  padding: 3px;
}


.wrapper {
  padding: 5px;
  margin: 2em;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 150px;
}

.wrapper .selection {
  width: 150px;
  border: 1px solid #ccc
}

button {
  margin: 0 0 0 2em;
}

div {
  height: 5em;
}
