<app-card>
  <h1>Contact</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <ul>
      <div formGroupName="contactData">
        <li>
          <label for="name">Voornaam:</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class=" pull right"></li>
        <li>
          <label for="infix">Tussenvoegsel:</label>
          <input
            type="text"
            id="infix"
            fromControlName="infix"
            class="pull right"></li>
        <li>
          <label for="lastname">Achternaam:</label>
          <input
            type="text"
            id="lastname"
            formControlName="lastname"
            class="pull right"></li>
      </div>
      <br>
      <div formGroupName="addressData">
        <li>
          <label for="zipCode"> Postcode:</label>
          <input
            type="text"
            id="zipCode"
            formControlName="zipCode"
            class="pull right"></li>
        <li>
          <label for="place">Plaats:</label>
          <input
            type="text"
            id="place"
            formControlName="place"
            class="pull right"></li>
        <li>
          <label for="street">Straat:</label>
          <input
            type="text"
            id="street"
            formControlName="street"
            class="pull right"></li>
        <li>
          <label for="housenumber">Huisnummer:</label>
          <input
            type="text"
            id="housenumber"
            formControlName="housenumber"
            class="pull right"></li>
      </div>
      <br>
      <div formGroupName="telephoneData">
        <li>
          <label for="telephoneNumber">Telefoon:</label>
          <input
            type="text"
            id="telephoneNumber"
            formControlName="telephoneNumber"
            class="pull right"></li>
        <li>
          <label for="telephoneDescription">Beschrijving:</label>
          <input
            type="text"
            id="telephoneDescription"
            formControlName="telephoneDescription"
            class="pull right"></li>
      </div>
      <br>
      <li>
        <label for="email">email:</label>
        <input
          type="text"
          id="email"
          formControlName="emailAddresses"
          class="pull right"></li>
      <li>
        <div
          class="form-group"
          *ngFor="let emailControl of contactForm.get('emailAdresses').controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <!--<label for="emailDescription">beschrijving:</label>-->
        <!--<input-->
        <!--type="text"-->
        <!--id="emailDescription"-->
        <!--formControlName="email"-->
        <!--class="pull right"></li>-->
        <button type="button" (click)="addEmail()">Add Next</button>
      <li class="button-list">
        <button type="submit">Opslaan</button>
        <button (click)="toContacts()">Cancel</button></li>
    </ul>
  </form>
</app-card>
