<app-card>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Contact</h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="name">voornaam</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="infix">tussenvoegsel</label>
          <input type="text" id="infix" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="achternaam">achternaam</label>
          <input type="text" id="achternaam" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="zipCode">post code</label>
          <input type="text" id="zipCode" class="form-control" title="title">
        </div>
        <div class="col-sm-2 form-group">
          <label for="place">plaats</label>
          <input type="text" id="place" class="form-control" title="title">
        </div>
        <div class="col-sm-2 form-group">
          <label for="street">straat</label>
          <input type="text" id="street" class="form-control" title="title">
        </div>
        <div class="col-sm-1 form-group">
          <label for="houseNumber">huisnr</label>
          <input type="integer" id="houseNumber" class="form-control" title="title">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="phoneNumber">Telefoonnr</label>
          <input type="text" id="phoneNumber" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="phoneNumberDescription">Beschrijving</label>
          <input type="text" id="phoneNumberDescription" class="form-control">
        </div>
        <button class="btn btn-info" type="button">plus</button>
      </div>
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="email">Email address</label>
          <input type="text" id="email" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="emailDescription">Beschrijving</label>
          <input type="text" id="emailDescription" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Opslaan</button>
          <button class="btn btn-danger" routerLink="/contacten" type="button">Annuleren</button>
        </div>
      </div>
    </form>
  </div>
</app-card>
