<app-card>
  <h1>Contact</h1>
  <form>
    <ul>
      <li>
        <label for="name">Naam:</label>
        <input type="text" id="name" class="pull right">
      </li>
      <li>
        <label for="infix">Tussenvoegsel:</label>
        <input type="text" id="infix" class="pull right">
      </li>
      <li>
        <label for="lastname">Achternaam:</label>
        <input type="text" id="lastname" class="pull right"></li>
      <br>
      <li>
        <label for="zipCode"> Postcode:</label>
        <input type="text" id="zipCode" class="pull right">
      </li>
      <li>
        <label for="place">Plaats:</label>
        <input type="text" id="place" class="pull right">
      </li>
      <li>
        <label for="street">Straat:</label>
        <input type="text" id="street" class="pull right">
      </li>
      <li>
        <label for="housenumber">Huisnummer:</label>
        <input type="text" id="housenumber" class="pull right">
      </li>
      <li>
        <br>
        <label for="telephone">Telefoon:</label>
        <input type="text" id="telephone" class="pull right">
      </li>
      <li>
        <label for="telephoneDescription">Beschrijving:</label>
        <input type="text" id="telephoneDescription" class="pull right">
      </li>
      <br>
      <li>
        <label for="email">Email:</label>
        <input type="text" id="email" class="pull right">
      </li>
      <li>
        <label for="emailDescription">Beschrijving:</label>
        <input type="text" id="emailDescription" class="pull right">
      </li>
      <li class="button-list">
        <button>Opslaan</button>
        <button>Cancel</button>
      </li>
    </ul>
  </form>
</app-card>

<!--<form>-->
<!--<label for="name">voornaam</label>-->
<!--<input type="text" id="name">-->
<!--<label for="infix">tussenvoegsel</label>-->
<!--<input type="text" id="infix">-->

<!--<label for="achternaam">achternaam</label>-->
<!--<input type="text" id="achternaam">-->
<!--<label for="zipCode">post code</label>-->
<!--<input type="text" id="zipCode" class="form-control" title="title">-->
<!--<label for="place">plaats</label>-->
<!--<input type="text" id="place" class="form-control" title="title">-->
<!--<label for="street">straat</label>-->
<!--<input type="text" id="street" class="form-control" title="title">-->
<!--<label for="houseNumber">huisnr</label>-->
<!--<input type="integer" id="houseNumber" class="form-control" title="title">-->
<!--<label for="phoneNumber">Telefoonnr</label>-->
<!--<input type="text" id="phoneNumber" class="form-control">-->
<!--<label for="phoneNumberDescription">Beschrijving</label>-->
<!--<input type="text" id="phoneNumberDescription" class="form-control">-->
<!--<button class="btn btn-info" type="button">plus</button>-->
<!--<label for="email">Email address</label>-->
<!--<input type="text" id="email" class="form-control">-->
<!--<label for="emailDescription">Beschrijving</label>-->
<!--<input type="text" id="emailDescription" class="form-control">-->
<!--<button class="btn btn-success" type="submit">Opslaan</button>-->
<!--<button class="btn btn-danger" routerLink="/contacten" type="button">Annuleren</button>-->
<!--</form>-->
