<app-card>
  <div class="titlebar">
    <h1>{{invoice?.title}}</h1>
    <button (click)="toOverview()"><i class="fa fa-arrow-left"></i></button>
  </div>
</app-card>
<app-card>
  <h2>Invoice ID:</h2>
  <p>{{invoice?.invoiceID}}</p>
  <h2>Beschrijving:</h2>
  <p>{{invoice?.description}}</p>
  <h2>Aanmaak Datum:</h2>
  <p>{{invoice?.date}}</p>
  <h2>Lever Datum:</h2>
  <p>{{invoice?.deliveryDate}}</p>
  <h2>Kosten:</h2>
  <p>{{invoice?.price}}</p>
  <h2 *ngIf="invoice?.paid">Betaald </h2>
  <h2 *ngIf="!invoice?.paid">Niet betaald</h2>

</app-card>
<app-card>
  <div class="button-list">
    <button class="btn danger" (click)="deleteInvoice(invoice.invoiceID)"><i class="fa fa-trash"></i> Verwijder</button>
    <button class="btn" (click)="modifyInvoice()"><i class="fa fa-edit"></i> Wijzig
    </button>
  </div>
</app-card>
