<app-card>
  <h1>Offerte</h1>
  <br>
  <br>
  <span>
    <i class="fa fa-search"></i>
    <input [(ngModel)]="searchTerm" placeholder="Zoeken..." type="text">
  </span>
  <br>
  <br>
  <table>
    <tr>
      <th (click)="sortBy('title')" class="title">Titel <span *ngIf="this.sort == 'title'; then arrow"></span></th>
      <th (click)="sortBy('description')" class="description">Beschrijving <span
        *ngIf="this.sort == 'description'; then arrow"></span></th>
      <th (click)="sortBy('date')" class="date">Datum <span *ngIf="this.sort == 'date'; then arrow"></span></th>
      <ng-template #arrow><span *ngIf="!this.desc; else up"><i class="fa fa-arrow-up"></i></span></ng-template>
      <ng-template #up><i class="fa fa-arrow-down"></i></ng-template>
      <th class="download">Download</th>
    </tr>
    <tr class="items"
        *ngFor="let q of blankRows() | quotationfilter: searchTerm
      | paginate: { itemsPerPage: 5, id: 'quotation', currentPage: quotation_page }"
        (click)="goToQuotationDetails(q.quotationID)">
      <td class="title">{{q.title}}</td>
      <td class="description">{{q.description}}</td>
      <td class="date">{{q.date}}</td>
      <td *ngIf="q.title != ''; else disabledbutton" class="download">
        <button (click)="downloadPDF(q.quotationID)">Download PDF</button>
      </td>
      <ng-template #disabledbutton>
        <td>
          <button disabled>Download PDF</button>
      </ng-template>
    </tr>
  </table>
  <div class="quotation-pagination">
    <pagination-controls id="quotation" (pageChange)="quotation_page = $event" autoHide="true"
                         class="pagination"></pagination-controls>
  </div>
</app-card>
