<app-card>
  <h1>Offerte</h1>
  <br>
  <table>
    <tr>
      <th (click)="sortBy('title')">Titel <span *ngIf="this.sort == 'title'; then arrow"></span></th>
      <th (click)="sortBy('description')">Beschrijving <span *ngIf="this.sort == 'description'; then arrow"></span></th>
      <th (click)="sortBy('date')">Datum <span *ngIf="this.sort == 'date'; then arrow"></span></th>
      <ng-template #arrow><span *ngIf="!this.desc; else up"><i class="fa fa-arrow-up"></i></span></ng-template>
      <ng-template #up><i class="fa fa-arrow-down"></i></ng-template>
    </tr>
    <tr
      *ngFor="let q of quotations | paginate: { itemsPerPage: 5, id: 'quotation', currentPage: quotation_page }">
      <td>{{q.title}}</td>
      <td>{{q.description}}</td>
      <td>{{q.date}}</td>
    </tr>

  </table>
  <div class="quotation-pagination">
    <pagination-controls id="quotation" (pageChange)="quotation_page = $event" autoHide="true" class="pagination"></pagination-controls>
  </div>
</app-card>
