html, body {
  margin: 0;
  padding: 0;
  background: #aac1be;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #016b6d;
  display: inline-block;
  margin: 0;
}

.pull.right {
  float: right;
}

.btn, button{
  padding:0.5em 4em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  padding: 0.5em;
  text-align: left;
}

table tr:not(:last-child) {
  border-bottom: 1px solid #aac1be;
}
