html, body {
  margin: 0;
  padding: 0;
  background: #aac1be;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #016b6d;
  display: inline-block;
  margin: 0;
}

.pull.right {
  float: right;
}

.btn, button{
  padding:0.5em 4em;
}

.btn-success {
  background-color: #016b6d;
  border: #01393b;
}

.btn-success:hover {
  background-color: #018284;
}

/* TODO: Dit werkt niet door bootstrap, bootstrap is onhandig.*/
.btn-success:focus, .btn-success:active {
  background-color: #aac1be;
}
