<app-card>
  <h1>Facturen</h1>
  <hr>
  <table>
    <tr>
      <th>Titel</th>
      <th>Omschrijving</th>
      <th>Datum</th>
      <th>Paid</th>
      <th>Download</th>
    </tr>
    <tr
      *ngFor="let invoiceElement of invoices">
      <td>{{invoiceElement.title}}</td>
      <td>{{invoiceElement.description}}</td>
      <td>{{invoiceElement.date}}</td>
      <td>{{invoiceElement.paid}}</td>
      <td><button (click)="downloadPDF(invoiceElement.invoiceID)">Download PDF</button></td>
    </tr>

  </table>
</app-card>
